<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/eddie-chi">Eddie</a>.
  </p>
  <br />
  <p>
    Eddie has built numerous apps by himself. Some of these apps are; the random quotes generator, yelp clone, chess game, personal and commercial websites.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'avatar.png', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Eddie Kozlica</h2>
    <br />
    <p>
      Eddie Kozlica is a full-stack web developer. He specializes in <b>HTML, CSS, JAVASCRIPT, RUBY, RUBY ON RAILS</b>. He is also an avid user of Linux and enjoys using it for his daily tasks wether it be for coding or just for fun.
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
