<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>Splurty was built by Eddie. He is a software developer and freelancer.</p>
  <br />
  <p>It is in my hopes that these random quotes will make you laugh your head off.</p>
  <br />
  <p>Laugh your head off, I said...Chris Farley</p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'avatar.png', class: 'img-reponsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Eddie</h2>
    <br />
    <p>Eddie is a software developer and freelancer. He is currently attending The FireHoseProject Bootcamp. A 22 week immersive coding experience.</p>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
